*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

:root {
  --borderRadius: 15px
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #CBCE91FF, #EA738DFF);
  align-items: center;
  /*background: #151515*/
  }

  .calculator-grid {
    
    display: grid;
    justify-content: center;
    border: 10px solid rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(6, 100px);
    }

    .calculator-grid > button {
      cursor: pointer;
      font-size: 2rem;
      transition: 550ms;
      border: none;
    }

      .calculator-grid > button:hover {
        transform: scale(1.05);
        background-color: #444444;
      }

      #RND {
        border-bottom-right-radius: var(--borderRadius);
      }

      .single {
        color: #EDEDED;
        background-color: #171717dd;
      }

      .span-two {
        grid-column: span 2;
        color: #DA0037;
        background-color: #171717f5;
      }

      .span-four {
        grid-column: span 3;
        color: #FFFFFF;
        background-color: #171717f5;
        border-bottom-left-radius: var(--borderRadius) ;
      }

      .output{
        grid-column: 1 / -1;
        background-color: rgba(0, 0, 0, 0.75);
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        flex-direction: column;
        padding: 10px;
        word-wrap: break-word;
        word-break: break-all;
        border-top-left-radius: var(--borderRadius) ;
        border-top-right-radius: var(--borderRadius) ;
      }

      .output .previous-operand{
        color: rgba(255,255, 255, 0.75);
        font-size: 1.5rem;
      }

      .output .current-operand{
        color: white;
        font-size: 2.5rem;
      }
